body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

*{
    font-family: 'Roboto', Arial;
}

.header{
    display: flex;
    color: #f5cb97;
    justify-content: space-around;
    background-color: #30000a;
    padding-top: 16px;
    padding-bottom: 80px;
}

.header-left{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 16px;
}

.header-title{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 100px;
}

.header-main-text{
    font-size: 48px;
    font-weight: 1000;
    line-height: 44px;
}

.header-subtext{
    font-size: 18px;
    color: #cfa16e;
}

.header-button{
    width: 120px;
    height: 35px;
    font-size: 16px;
    font-weight: 700;
    color: #f5cb97;
    background-color: #9b3028;
    border: 0px;
    border-radius: 15px;
}

.header-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-right img{
    padding: 0px;
    margin: 0px;
}

.header-links{
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 14px;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    color: #cfa16e;
}

.header-img{
    border-radius: 16px;
}

/* content section*/

.content-container{
    display: flex;
    flex-direction: column;
    color:#f5cb97;
    align-items: center;
    gap: 60px;
    margin-top: 60px;
}

.info-header{
    font-size: 32px;
    font-weight: 1000;
}

.square-pictures{
    display: flex;
    align-items: center;
    gap: 8px;
}

.square-pictures img{
    border-radius: 16px;
}

.pic-type1{
    filter:brightness(0.5) blur(2px);

}
.pic-type2{
    filter:blur(1px) brightness(0.8);
}

.more-info{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 1000px;
    color: #cfa16e;
}

.quote{
    background-color: #b38551;
    font-size: 36px;
    font-weight: 300;
    justify-content: space-around;
}