*{
    font-family: 'Roboto', 'monospace';
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 48px;
    height: 100vh;
}

img{
    border-radius: 16px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 128px;
    background-color: brown;
    padding-bottom: 128px;
}

.h-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
    margin-top: 16px;
}
.h-title{
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}
.h-links{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 18px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    flex-wrap: wrap;
}
.h-bottom-left{
    display: flex;
    flex-direction: column;
    width: 448px;
    margin-bottom: 18px;
    gap: 12px;
}
.h-main-text{
    font-size: 48px;
    font-weight: 1000;   
    line-height: 48px;
    color: #F9FAF8
}
.h-subtext{
    font-size: 18px;
    color: #E5E7EB;
}
.h-button{
    font-size: 18px;
    font-weight: 800;
    border: 0px;
    border-radius: 16px;
    width: 150px;
    height: 45px;
    color: brown;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.info-header{
    text-align: center;
    font-size: 36px;
    font-weight: 1000;
}
.square-pictures{
    display: flex;
    align-items: center;
}

.more-info{
    width: 65%;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.quote-container{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 18px;
}

.quote{
    font-size: 36px;
    font-weight: 300;
    width: 65%;
    text-align: justify;
}

.quote-sec{
    text-align: right;
    width: 65%;
    font-size: 20px;
    font-weight: 600;
}

.end-button-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: brown;
    align-self: center;
    width: 75%;
    border-radius: 16px;
    padding: 80px 0px;
}

.end-txt-top{
    color: #F9FAF8;
    font-size: 22px;
    font-weight: 600;
}

.end-txt-bottom{
    color: #E5E7EB;
    font-size: 16px;
}

.end-button{
    font-size: 18px;
    font-weight: 800;
    border: solid white 3px;
    border-radius: 16px;
    width: 150px;
    height: 45px;
    color: white;
    background-color: brown;
}

.footer{
    background-color: rgb(7, 7, 7);
    color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 16px 16px 0px 0px;
    text-align: center;
}